.level-3 {
  animation-name: l3;
  animation-duration: calc(var(--speed) * 3);
  animation-delay: 0;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  visibility: hidden;
}

.level-3:focus-visible {
  animation-play-state: running;
}

.level-3:focus-visible ~ .wizard {
  left: calc(
    var(--gap) * 4 + var(--steps) * 2 + var(--size) / 2 + var(--l2-size)
  );
}

@keyframes l3 {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

.level-3:focus-visible + .steps,
.level-3:focus-visible ~ .level-4 {
  animation-play-state: running;
}
